<title>Owner Profile</title>
</head>
<%- include ('partials/head.ejs') %>

    <body class="othercolorgrad">
        <div class="container-fluid outercontain">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <%- include ('partials/header.ejs') %>

                            <div class="apartprofholder">
                                <div class="container-fluid">
                                    <div class="row userprofholder">
                                        <div class="optionholder">
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/iconperson.png" />
                                                <a href="/manageAll" class="optiontext">
                                                    <p class="optiontext">
                                                        Profile Information
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/cog.png" />
                                                <a href="/adminApartments" class="optiontext">
                                       Manage Apartments
                                    </a>
                                            </div>
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/cog.png" />
                                                <a href="/adminAccounts" class="optiontext">
                                        Manage Accounts
                                    </a>
                                            </div>
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/cog.png" />
                                                <a href="/administrators" class="optiontext" style="color: black;">
                                       Manage Admins
                                    </a>
                                            </div>
                                            <div class="optionlogdiv">
                                                <img class="optionimg" alt="Profile Information" src="img/ExitWhite.png" />
                                                <a href="/logout" class="optiontext">
                                    Log Out
                                </a>
                                            </div>
                                        </div>
                                        <div class="apartprofop">
                                            <h3 class="apartophead">What would you like to do today?</h3>
                                            <div class="aparticon4">
                                                <a href="/apartments">
                                                    <img class="apartproficon" alt="Apartment Picture" src="img/moneyblue.png" />
                                                </a>
                                                <p class="apartoptext">Apartments Rented</p>
                                            </div>

                                            <div class="aparticon5">
                                                <a href="/createAdminAccount">
                                                    <img class="apartproficon" alt="Apartment Picture" src="img/copyblue.png" />
                                                    <p class="apartoptext">Create Admin Account</p>
                                                </a>

                                            </div>

                                        </div>

                                        <div class="apartmentproflast">
                                            <img class="apartprofpic" alt="Apartment Picture" src="img/hotel.png" />
                                            <div class="apartproftextholder">
                                                <p class="apartproftextflav">Manage Admin Accounts</p>
                                                <p class="apartproftextflav2">Shows details of the admin accounts </p>
                                            </div>
                                        </div>
                                        <% for (x=0;x<data.length; x++){%>
                                            <div class="apartmentinfoprof2">
                                                <div>

                                                    <img class="apartmentinfopichis" alt="Apartment Picture" src="img/profileImg/<%-data[x].image%>" />

                                                    <div class="apttextholderhis">
                                                        <p class="apartmenttexthis">
                                                            Name:
                                                            <%-data[x].fname%>
                                                                <%-data[x].lname%>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Gender:
                                                            <%-data[x].gender%>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Contact:
                                                            <%-data[x].contact%>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Restriction:
                                                            <%-data[x].restriction%>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Birth Date:
                                                            <%-data[x].birthdate%>
                                                        </p>
                                                        <p class="apartmenttexttenant">
                                                            Email Address:
                                                            <%-data[x].emailadd%>

                                                        </p>

                                                    </div>
                                                </div>
                                                <div class="aptstarandbutthis3">
                                                    <a href="/deleteAccount/<%-data[x].accUID %>/<%-data[x].accType %>"><button type="button" class="apartmentbuttonhis">
									Delete
								</button></a>


                                                </div>
                                            </div>

                                    </div>
                                    <%}%>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <%- include ('partials/footer.ejs') %>
        </div>
        </div>
        </div>
    </body>

    </html>