<title>
    Apartment Details</title>
<style>
    .cancelbtn,
    .deletebtn {
        float: left;
        width: 50%;
    }
    /* Add a color to the cancel button */
    
    .cancelbtn {
        background-color: #ccc;
        color: black;
    }
    /* Add a color to the delete button */
    
    .deletebtn {
        background-color: #f44336;
    }
    /* Add padding and center-align text to the container */
    
    .container {
        padding: 16px;
        text-align: center;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }
    /* Style the horizontal ruler */
    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    /* The Modal Close Button (x) */
    
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }
    
    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }
    /* Clear floats */
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    /* Change styles for cancel button and delete button on extra small screens */
    
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .deletebtn {
            width: 100%;
        }
    }
</style>
</head>
<%- include ('partials/head.ejs') %>

    <body class="othercolorgrad">
        <div class="container-fluid outercontain">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <%- include ('partials/header.ejs') %>
                            <div class="container-fluid">
                                <div class="row aptholderdet">
                                    <div class="col-md-5">
                                        <div class="mainpicholder">
                                            <img class="mainaptpic" alt="Apartment Image 1" src="img/<%-app.image1%>" />
                                        </div>
                                        <div class="row">
                                            <div class="secaptpicunder1">
                                                <img class="secaptpic1" alt="Apartment Image 2" src="img/<%-app.image2%>" />
                                            </div>
                                            <div class="secaptpicunder2">
                                                <img class="secaptpic3" alt="Apartment Image 4" src="img/<%-app.image2%>" />
                                                <!-- <img class="secaptpic2" alt="Apartment Image 3"src="img/<%-app.image3%>" /> -->
                                            </div>
                                            <div class="secaptpicunder3">
                                                <img class="secaptpic3" alt="Apartment Image 4" src="img/<%-app.image2%>" />
                                                <!-- <img class="secaptpic3" alt="Apartment Image 4" src="img/<%-app.image4%>" /> -->
                                            </div>
                                            <div class="aptstarholder">
                                                <img class="aptstarsunder" alt="Star Rating" src="img/starrating.png" />
                                            </div>
                                        </div>

                                    </div>

                                    <!-- 
                                Modal
                                <div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image1%>">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image1%>">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image2%>">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="image4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image3%>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $('#myModal').on('shown.bs.modal', function() {
                                        $('#myInput').trigger('focus')
                                    })
                                </script> -->


                                    <div class="col-md-7">
                                        <div class="aptdetailinfo">
                                            <p class="aptdetailspace">
                                                Address:
                                                <%-app.city %>
                                                    <%-app.street %>
                                                        <%-app.baranggay %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Room type:
                                                <%-app.type %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Capacity:
                                                <%-app.capacity %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Restriction:
                                                <%-app.restriction %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Price: Php
                                                <%-app.price %>/ month
                                            </p>
                                            <p class="aptdetailspace">
                                                Owner:<button data-toggle="modal" data-target="#myModal"><img class="aptdetailpic" src="img/profileImg/<%-app.accImage%>"><br></button>
                                                <%-app.fname %>
                                                    <%-app.lname %>
                                            </p>

                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Owner Profile</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="aptdetailpic" src="img/profileImg/<%-app.image%>">
                                                            <p>Contact:
                                                                <%-app.fname %>
                                                            </p>
                                                            <p>Email Address:
                                                                <%-app.emailadd %>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <p class="aptdetailspace">
                                                Description:
                                            </p>
                                            <p class="aptdetailspace">
                                                “
                                                <%-app.description%>"

                                            </p>
                                            <%var z=app.accountType;
                                            var check= app.checkReq %>
                                                <%if(z ==0 && check == 0){%>
                                                    <a href="/requestRent/<%-app.appID %>/<%-user.accUID %>">
                                                        <button type="button" class="aprentbutton">
                                                    Rent
                                                </button>
                                                    </a>
                                                    <% }
                                        if(check==1){%>

                                                        <button type="button" class="aprentbutton" onclick="document.getElementById('id01').style.display='block'">
                                                                 Delete Request
                                                        </button>
                                                        <div id="id01" class="modal">
                                                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                                                            <form class="modal-content" action="/action_page.php">
                                                                <div class="container">
                                                                    <h1>Delete Request
                                                                        <%-app.appID %>
                                                                    </h1>
                                                                    <p>Are you sure you want to delete your Request
                                                                        <%-app.fname %>?</p>

                                                                    <div class="clearfix">
                                                                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                                                        <a href="/deleteRequest?id=<%-app.appID %>"><button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button></a>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>

                                                        <script>
                                                            // Get the modal
                                                            var modal = document.getElementById('id01');

                                                            // When the user clicks anywhere outside of the modal, close it
                                                            window.onclick = function(event) {
                                                                if (event.target == modal) {
                                                                    modal.style.display = "none";
                                                                }
                                                            }
                                                        </script>

                                                        <% }%>

                                                            <%var m = app.accUID%>
                                                                <%if(m==user.accUID){%>
                                                                    <button type="button" class="aprentbutton" onclick="document.getElementById('id01').style.display='block'">
                                                                 Delete Apartment
                                                        </button>
                                                                    <div id="id01" class="modal">
                                                                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                                                                        <form class="modal-content" action="/action_page.php">
                                                                            <div class="container">
                                                                                <h1>Delete Appartment
                                                                                    <%-app.appID %>
                                                                                </h1>
                                                                                <p>Are you sure you want to delete your apartment
                                                                                    <%-app.fname %>?</p>

                                                                                <div class="clearfix">
                                                                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                                                                    <a href="/deleteApartment/<%-app.appID %>"><button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button></a>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>

                                                                    <script>
                                                                        // Get the modal
                                                                        var modal = document.getElementById('id01');

                                                                        // When the user clicks anywhere outside of the modal, close it
                                                                        window.onclick = function(event) {
                                                                            if (event.target == modal) {
                                                                                modal.style.display = "none";
                                                                            }
                                                                        }
                                                                    </script>
                                                                    <%}%>


                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <%- include ('partials/footer.ejs') %>
                </div>
            </div>
        </div>
    </body>

    </html>