<title>
    Apartment Details</title>
</head>
<%- include ('partials/head.ejs') %>

    <body class="othercolorgrad">
        <div class="container-fluid outercontain">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <%- include ('partials/header.ejs') %>
                            <div class="container-fluid">
                                <div class="row aptholderdet">
                                    <div class="col-md-5">
                                        <div class="mainpicholder">
                                            <img class="mainaptpic" alt="Apartment Image 1" src="img/<%-app.image1%>" />
                                        </div>
                                        <div class="row">
                                            <div class="secaptpicunder1">
                                                <img class="secaptpic1" alt="Apartment Image 2" src="img/<%-app.image2%>" />
                                            </div>
                                            <div class="secaptpicunder2">
                                                <img class="secaptpic3" alt="Apartment Image 4" src="img/<%-app.image2%>" />
                                                <!-- <img class="secaptpic2" alt="Apartment Image 3"src="img/<%-app.image3%>" /> -->
                                            </div>
                                            <div class="secaptpicunder3">
                                                <img class="secaptpic3" alt="Apartment Image 4" src="img/<%-app.image2%>" />
                                                <!-- <img class="secaptpic3" alt="Apartment Image 4" src="img/<%-app.image4%>" /> -->
                                            </div>
                                            <div class="aptstarholder">
                                                <img class="aptstarsunder" alt="Star Rating" src="img/starrating.png" />
                                            </div>
                                        </div>

                                    </div>

                                    <!-- 
                                Modal
                                <div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image1%>">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image1%>">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image2%>">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="image4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                <img style="width: 500px;height: 400px;" src="img/<%-app.image3%>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $('#myModal').on('shown.bs.modal', function() {
                                        $('#myInput').trigger('focus')
                                    })
                                </script> -->


                                    <div class="col-md-7">
                                        <div class="aptdetailinfo">
                                            <p class="aptdetailspace">
                                                Address:
                                                <%-app.city %>
                                                    <%-app.street %>
                                                        <%-app.baranggay %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Room type:
                                                <%-app.type %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Capacity:
                                                <%-app.capacity %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Restriction:
                                                <%-app.restriction %>
                                            </p>
                                            <p class="aptdetailspace">
                                                Price: Php
                                                <%-app.price %>/ month
                                            </p>
                                            <p class="aptdetailspace">
                                                Owner:<button data-toggle="modal" data-target="#myModal"><img class="aptdetailpic" src="img/profileImg/<%-app.image%>"><br></button>
                                                <%-app.fname %>
                                                    <%-app.lname %>
                                            </p>

                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Owner Profile</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img class="aptdetailpic" src="img/profileImg/<%-app.image%>">
                                                            <p>Contact:
                                                                <%-app.fname %>
                                                            </p>
                                                            <p>Email Address:
                                                                <%-app.emailadd %>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <p class="aptdetailspace">
                                                Description:
                                            </p>
                                            <p class="aptdetailspace">
                                                “
                                                <%-app.description%>"

                                            </p>
                                            <%var z=app.accountType;
                                            var check= app.checkReq %>
                                                <%if(z ==0 && check == 0){%>
                                                    <a href="/requestRent/<%-app.appID %>/<%-user.accUID %>">
                                                        <button type="button" class="aprentbutton">
                                                    Rent
                                                </button>
                                                    </a>
                                                    <% }
                                        if(check==1){%>

                                                        <a href="/deleteRequest?id=<%-app.appID %>"><button type="button" class="aprentbutton">
                                                                <%-app.appID %> Delete Request
                                                        </button></a>
                                                        <% }%>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <%- include ('partials/footer.ejs') %>
                </div>
            </div>
        </div>
    </body>

    </html>