<title>
    Forums</title>
</head>
<%- include ('partials/head.ejs') %>

    <body class="othercolorgrad">
        <div class="container-fluid outercontain">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <%- include ('partials/header.ejs') %>
                            <div class="row">
                                <div class="col-md-12 forumholder">
                                    <h3 class="flavoredforum">
                                        Forums
                                    </h3>
                                    <p class="ezflavorforum">See all discussions and share your ideas and expressions here
                                    </p>
                                    <img class="messageicon" alt="messageicon" src="img/messageicon.png">
                                </div>
                            </div>
                    </div>
                    <!-- <div class="headline">
    <div class="forum">
            <div class="headlinebody" style="color: white;">
                <h1>FORUMS</h1>
                <i><h5>See all discussions and share your ideas and expressions here</h5></i>
                <img class="messageicon"src="img/messageicon.png">
            </div>
            
    </div>
    <div class="searchtag">
        <div class="search-container" style="margin:10px 0 50px 0;">
            <form>
                <div class="input-container" style="border: 1px solid black; font-size: 20px;">
                    
                    <input class="input-field" type="text" placeholder="Search for a tag" name="searchforatag">
                    <i class="fa fa-search"style="font-size: 30px;margin-top:10px;"></i>
                    
                    <a href="#" class="" style="color: white;font-size: 30px;margin:0px 0 0 10px;">
                        <button type="submit" class="" style="background-color: rgb(219,193,50);">
                            <i class="fas fa-arrow-right" style="width: 50px;"></i>
                        </button>
                     </a>
                </div>
            </form>
        </div>
        
            <div class="threads">
                <h2 style="text-align:center;">Threads</h2>
            
                <p class="breakAll narrow">
                    
                        <a href="#allThreads" class="nav-link nav-link-faded has-icon">#All Threads</a>
                        <a href="/forums/findRoommate" class="nav-link nav-link-faded has-icon">#Find a Roommate</a>
                        <a href="#roomsReview" class="nav-link nav-link-faded has-icon">#Rooms Review</a>
                        <a href="/forums/posts/<%-user.accUID%>" class="nav-link nav-link-faded has-icon">#Own Posts</a>
                   
                </p>
            </div>
            <div class="top3posts" style="margin-top: 50px;">
                <h2 style="text-align:center;">Top 3 Posts</h2>
                <% for(x=0; x<3; x++){ %>
                    <div class="row">
                        <div class="col-sm-8">
                            <b><h3> <%-data[x].fname%> <%-data[x].lname%></h3></b>
                        </div>
                        <div class="col-sm-4">
                            <h3>1/11/2021</h3>
                        </div>
                    </div>
                     
                        
                    <p class="discussiontittle"><%-data[x].name%></p>
                    <p class="text-secondary" style="margin-left:20px;">
                        <%-data[x].text%>
                    </p>

                    <p style="font-size: 20px; margin-right: 4%; margin-bottom: 20px;">
                        <span style="margin: 10px 20px 0 0;"><b><i class="fa fa-arrow-up" aria-hidden="true"></i></b> 365 </span>
                        <span><b><i class="fa fa-arrow-down" aria-hidden="true"></i></b> 38 </span>
                    </p>    
                    
                <% } %>
            </div>
      
                            
    </div>
</div> -->
                    <div class="forumbody" style="border: 1px solid white">
                        <div class="forumlist">
                            <div>
                                <img class="forumImage" src="img/profileImg/<%-user.image%>">
                            </div>

                            <div class="talk-bubble tri-right left-in">
                                <form method="POST" enctype="multipart/form-data" action="/addDiscussion?id=<%-user.accUID%>">
                                    <div class="talktext">

                                        <div class="form-group">
                                            <label for="threadTitle">Title</label>
                                            <input required type="text" class="form-control" name="title" placeholder="Enter Thread" autofocus="" maxlength="50" />
                                        </div>
                                        <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                            <label class="custom-file-label" for="customFile">Attachment</label>
                                            <input type="file" class="custom-file-input" name="image" accept="image/*" />

                                        </div>
                                        <div class="form-group">
                                            <label for="type">Type</label><br>
                                            <select required name="type" class="form-control" style="float: left;width: 200px;" aria-label="Default select example">
                                    <option selected value="findRoommate">Find Roommate</option>
                                    <option value="review">Review</option>
                                    </select>
                                        </div>
                                        <br><br>
                                        <div class="form-group">
                                            <label for="threadTitle">Enter Description</label>
                                            <input required type="text" class="form-control" name="text" placeholder="Enter Description" autofocus="" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="separator">
                                        <button type="submit" class="postbutton">
                        Post
                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="sortby">
                                <p style="color: white;">Sort by
                                    <select class="forumselect">
                    <option selected>Top Posts</option>
                    <option value="1">New</option>
                    <option value="2">Oldest</option>
                </select>
                                    <i class="fa fa-chevron-down"></i></p>
                            </div>
                            <div class="allDiscussionList" id="allThreads">
                                <% for(x=0; x<data.length; x++){ %>
                                    <div class="discussionlist">
                                        <a href="#"><img src="img/profileImg/<%-data[x].image%>" class="discussion-image"  style="height: 150px;
                        width: 150px;"alt="No User Image" /></a>
                                        <div class="bubble">
                                            <div class="discussion-body" style="padding-left: 100px;">

                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <%-data[x].type%>
                                                            <p> <b><h3> <%-data[x].fname%> <%-data[x].lname%></h3></b></p>
                                                            <p class="discussiontittle">
                                                                <%-data[x].name%>
                                                            </p>
                                                            <p class="text-secondary" style="margin-left:20px;">
                                                                <%-data[x].text%>
                                                            </p>
                                                            <p style="font-size: medium; ">
                                                                <span style="margin: 10px 20px 0 0;"><i class="fa fa-arrow-up" aria-hidden="true"></i> 365 </span>
                                                                <span><i class="fa fa-arrow-down" aria-hidden="true"></i> 38 </span>
                                                            </p>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <p class="discussiondate">
                                                            <b><h3><%-data[x].createdAt%> </h3></b>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="separator">
                                                <div class="discussioncomment">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <img src="img/profileImg/<%-user.image%>" class="discussioncomment-image" alt="No User Image" /></a>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <%-data[x].fname%>
                                                                <%-data[x].lname%><br>
                                                                    <p style="color: red;">Name of the User</p>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <%-data[x].text%> <br>
                                                                <p style="color: red;">comment of user</p>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            01/11/2021 <br>
                                                            <p style="color: red;">Month/Date/Year</p>
                                                        </div>
                                                    </div>

                                                </div>

                                                <a href="/forumsDiscussion?id=<%-data[x].forumID%>" data-toggle="collapse" data-target=".forum-content" class="text-body" style="font-size: 30px;">
                                                    <button type="submit" class="commentbutton">
                                    Comment <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </button>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <div class="forumsearch">
                                            <div class="search-container" style="margin:10px 0 50px 0;">
                                                <form>
                                                    <div class="input-container" style="border: 1px solid black; font-size: 20px;">

                                                        <input class="input-field" type="text" placeholder="Search for a tag" name="searchforatag">
                                                        <i class="fa fa-search" style="font-size: 30px;margin-top:10px;"></i>

                                                        <a href="#" class="" style="color: white;font-size: 30px;margin:0px 0 0 10px;">
                                                            <button type="submit" class="" style="background-color: rgb(219,193,50);">
                                        <i class="fas fa-arrow-right" style="width: 50px;"></i>
                                    </button>
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="threads">
                                                <h2 style="text-align:center;">Threads</h2>

                                                <p class="breakAll narrow">

                                                    <a href="#allThreads" class="nav-link nav-link-faded has-icon">#All Threads</a>
                                                    <a href="/forums/findRoommate" class="nav-link nav-link-faded has-icon">#Find a Roommate</a><br>
                                                    <a href="#roomsReview" class="nav-link nav-link-faded has-icon">#Rooms Review</a>
                                                    <a href="/forums/posts/<%-user.accUID%>" class="nav-link nav-link-faded has-icon">#Own Posts</a>

                                                </p>
                                            </div>
                                            <div class="top3posts" style="margin-top: 50px;">
                                                <h2 style="text-align:center;">Top 3 Posts</h2>
                                                <% for(x=0; x<3; x++){ %>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <b><h3> <%-data[x].fname%> <%-data[x].lname%></h3></b>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <h3>1/11/2021</h3>
                                                        </div>
                                                    </div>


                                                    <p class="discussiontittle">
                                                        <%-data[x].name%>
                                                    </p>
                                                    <p class="text-secondary" style="margin-left:20px;">
                                                        <!-- <%-data[x].text%> -->
                                                    </p>

                                                    <p style="font-size: 20px; margin-right: 4%; margin-bottom: 20px;">
                                                        <span style="margin: 10px 20px 0 0;"><b><i class="fa fa-arrow-up" aria-hidden="true"></i></b> 365 </span>
                                                        <span><b><i class="fa fa-arrow-down" aria-hidden="true"></i></b> 38 </span>
                                                    </p>

                                                    <% } %>
                                            </div>
                                        </div>
                            </div>

                            <nav class="pagination-forum">
                                <button type="button" class="nextpagebutton">
                            <<
                        </button>
                                <p class="pagenext">Page</p>
                                <button type="button" class="nextpagebutton">
                            >>
                        </button>
                            </nav>


                        </div>
                    </div>
                    <%- include ('partials/footer.ejs') %>
                </div>
            </div>
        </div>
    </body>

    </html>