<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/styles1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css" />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <title>Google Maps Clone</title>
    <style>
        .coordinates {
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            position: absolute;
            bottom: 40px;
            left: 10px;
            padding: 5px 10px;
            margin: 0;
            font-size: 11px;
            line-height: 18px;
            border-radius: 3px;
            display: none;
        }
        
        .mapboxgl-popup {
            max-width: 200px;
        }
        
        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" type="text/css" />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
</head>

<body class="othercolorgrad">
    <div class="container-fluid outercontain">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <%- include ('partials/header.ejs') %>
                        <div class="row">
                            <div class="col-md-12 mapholder">
                                <h1 class="flavoredforum" style="text-align: center;">
                                    Maps
                                    <%=apartments.length%>
                                </h1>
                                <!-- <p class="ezflavorforum">See all discussions and share your ideas and expressions here
                            </p> -->

                            </div>
                        </div>
                </div>
                <div class="row">
                    <div id="map" style="height: 100vh;"></div>

                    <script>
                        mapboxgl.accessToken = 'pk.eyJ1IjoicmF5bHh5bGVtIiwiYSI6ImNrMHphdmZmNzBmdzQzb293M3Z5Zm9samYifQ.keAuGVm8Orve1iPn6o7wVQ';
                        var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/mapbox/streets-v11',
                            center: [123.8985231, 10.3267496],
                            zoom: 12
                        });

                        map.addControl(
                            new MapboxDirections({
                                accessToken: mapboxgl.accessToken
                            }),
                            'top-left'
                        );

                        map.addControl(
                            new MapboxGeocoder({
                                accessToken: mapboxgl.accessToken,
                                mapboxgl: mapboxgl
                            })
                        );

                        map.addControl(
                            new mapboxgl.GeolocateControl({
                                positionOptions: {
                                    enableHighAccuracy: true
                                },
                                trackUserLocation: true
                            })
                        );

                        // var marker = new mapboxgl.Marker({
                        // draggable: true
                        // })
                        // .setLngLat([123.918434,10.311223])
                        // .addTo(map);

                        var x = 0;
                        var applength = <%=apartments.length%>
                        let apps = []
                        <%var z=x%>
                        <%var y = 0%>
                        var data = new Array()
                            // for (x = 0; x < applength; x++) {
                        <% for(z=0; z<apartments.length; z++){%>

                        data[x] = {
                            'type': 'Feature',
                            'geometry': {
                                'type': 'Point',
                                'coordinates': ['<%=apartments[z ].locationX%>', '<%=apartments[z ].locationY%>']
                            },
                            'properties': {
                                'appID': '<%=apartments[z].appID%>',
                                'title': x + '<%=apartments[z ].city%>, <%=apartments[z].street%>  <%=apartments[z].baranggay%> ',
                                'type': '<%=apartments[z].type%>',
                                'capacity': '<%=apartments[z].capacity%>  ',
                                'restriction': '<%=apartments[z].restriction%>',
                                'price': '<%=apartments[z].price%>',
                                'description': '<%=apartments[z].description%>'
                            }
                        }
                        x++;
                        <%}%>
                        <%y=y+1%>
                        // }
                        var geojson = {
                            'type': 'FeatureCollection',
                            'features': data
                        };

                        geojson.features.forEach(function(marker) {
                            // create a HTML element for each feature
                            var el = document.createElement('div');
                            el.className = 'marker';

                            // make a marker for each feature and add it to the map
                            new mapboxgl.Marker(el)
                                .setLngLat(marker.geometry.coordinates)
                                .setPopup(
                                    new mapboxgl.Popup({
                                        offset: 25
                                    }) // add popups
                                    .setHTML(
                                        '<h3>' +
                                        marker.properties.title +
                                        '</h3><p>Type:' +
                                        marker.properties.type +
                                        '</p><p>Capacity:' +
                                        marker.properties.capacity +
                                        '</p><p>Restriction:' +
                                        marker.properties.restriction +
                                        '</p><p>Price:' +
                                        marker.properties.price +
                                        '/month</p><p>Description:' +
                                        marker.properties.description +
                                        '</p>'
                                    )
                                )
                                .addTo(map);
                        });
                    </script>
                </div>






                <%- include ('partials/footer.ejs') %>
            </div>
        </div>
    </div>
</body>

</html>