<title>Owner Profile</title>
</head>
<%- include ('partials/head.ejs') %>

    <body class="othercolorgrad">
        <div class="container-fluid outercontain">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <%- include ('partials/header.ejs') %>

                            <div class="apartprofholder">
                                <div class="container-fluid">
                                    <div class="row userprofholder">
                                        <div class="optionholder">
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/iconperson.png" />
                                                <a href="/profile" class="optiontext">
                                                    <p class="optiontext">
                                                        Profile Information
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/folder.png" />
                                                <a href="/apartmentProfiles/<%-user.accUID%>" class="optiontext">
                                                    <p class="optiontext" style="color: black;">
                                                        Apartment Profile
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/cog.png" />
                                                <a href="/settings?check=0" class="optiontext">
                                                    Settings
                                                </a>
                                            </div>
                                            <div class="optionlogdiv">
                                                <img class="optionimg" alt="Profile Information" src="img/ExitWhite.png" />
                                                <a href="/logout" class="optiontext">
                                    Log Out
                                </a>
                                            </div>
                                        </div>
                                        <div class="apartprofop">
                                            <h3 class="apartophead">What would you like to do today?</h3>
                                            <div class="aparticon4">
                                                <a href="/ownerApartments">
                                                    <img class="apartproficon" alt="Apartment Picture" src="img/moneyblue.png" />
                                                </a>
                                                <p class="apartoptext">Apartments Rented</p>
                                            </div>

                                            <div class="aparticon5">
                                                <a href="/addApartment">
                                                    <img class="apartproficon" alt="Apartment Picture" src="img/copyblue.png" />
                                                    <p class="apartoptext">Create New Apartment</p>
                                                </a>

                                            </div>

                                        </div>

                                        <div class="apartmentproflast">
                                            <img class="apartprofpic" alt="Apartment Picture" src="img/hotel.png" />
                                            <div class="apartproftextholder">
                                                <p class="apartproftextflav">Latest apartment added</p>
                                                <p class="apartproftextflav2">Shows details of the newly added apartments </p>
                                            </div>
                                        </div>
                                        <%var x = datas%>
                                            <%if(x>0 ){%>
                                                <div class="apartmentinfoprof2">
                                                    <div>

                                                        <img class="apartmentinfopichis" alt="Apartment Picture" src="img/<%-data.image1%>" />

                                                        <div class="apttextholderhis">
                                                            <p class="apartmenttexthis">
                                                                Address:
                                                                <%-data.city%>
                                                                    <%-data.street%>
                                                                        <%-data.baranggay%>
                                                            </p>
                                                            <p class="apartmenttexthis">
                                                                Room type:
                                                                <%-data.type%>
                                                            </p>
                                                            <p class="apartmenttexthis">
                                                                Capacity:
                                                                <%-data.capacity%>
                                                            </p>
                                                            <p class="apartmenttexthis">
                                                                Restriction:
                                                                <%-data.restriction%>
                                                            </p>
                                                            <p class="apartmenttexthis">
                                                                Price: Php
                                                                <%-data.price%>/ month
                                                            </p>
                                                            <p class="apartmenttexttenant">
                                                                Details:<br>
                                                                <p>
                                                                    <%-data.description%>
                                                                </p>

                                                            </p>


                                                        </div>
                                                    </div>
                                                    <div class="aptstarandbutthis3">
                                                        <a href="/apartmentDetails/<%-data.appID %>"><button type="button" class="apartmentbuttonhis">
                                                See more →
                                            </button></a>

                                                        <a href="/editApartment/<%-data.appID %>"><button type="button" class="apartmentbuttonhis">
                                                Edit
                                            </button></a>
                                                        <a href="/requestList/<%-data.appID %>"><button type="button" class="apartmentbuttonhis">
									Request List
								</button></a>
                                                    </div>
                                                </div>
                                                <%}%>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <%- include ('partials/footer.ejs') %>
        </div>
        </div>
        </div>
    </body>

    </html>