<title>Tenant Profile</title>
</head>
<%- include ('partials/head.ejs') %>

    <body class="othercolorgrad">
        <div class="container-fluid outercontain">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <%- include ('partials/header.ejs') %>

                            <div class="apartprofholder">
                                <div class="container-fluid">
                                    <div class="row userprofholder">
                                        <div class="optionholder">
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/iconperson.png" />
                                                <a href="/profile" class="optiontext">
                                                    <p class="optiontext">
                                                        Profile Information
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/folder.png" />

                                                <p class="optiontext" style="color: black;">
                                                    Requested Apartments
                                                </p>

                                            </div>
                                            <div class="optiondiv">
                                                <img class="optionimg" alt="Profile Information" src="img/cog.png" />
                                                <a href="/settings?check=0" class="optiontext">
                                    Settings
                                </a>
                                            </div>
                                            <div class="optionlogdiv">
                                                <img class="optionimg" alt="Profile Information" src="img/ExitWhite.png" />
                                                <a href="/login" class="optiontext">
                                    Log Out
                                </a>
                                            </div>
                                        </div>
                                        <div class="apartprofop">
                                            <h3 class="apartophead">What would you like to do today?</h3>
                                            <div class="aparticon1">
                                                <a href="/forums">
                                                    <img class="apartproficon" alt="Apartment Picture" src="img/moneyblue.png" />
                                                </a>
                                                <p class="apartoptext1">Find Roommates</p>
                                            </div>

                                            <div class="aparticon2">
                                                <img class="apartproficon" alt="Apartment Picture" src="img/copyblue.png" />
                                                <p class="apartoptext2">Request For New Apartments</p>
                                            </div>

                                            <div class="aparticon3">
                                                <a href="/apartments">
                                                    <img class="apartproficon" alt="Apartment Picture" src="img/rentblue.png" />
                                                </a>
                                                <p class="apartoptext3">Apartments Up For Rent</p>
                                            </div>

                                        </div>

                                        <div class="apartmentproflast">
                                            <img class="apartprofpic" alt="Apartment Picture" src="img/hotel.png" />
                                            <div class="apartproftextholder">
                                                <p class="apartproftextflav">Current apartments requested</p>
                                                <p class="apartproftextflav2">Shows details of the current apartment booked </p>
                                            </div>
                                        </div>
                                        <% for (x=0;x<data.length; x++){%>
                                            <div class="apartmentinfoprof2">
                                                <div>

                                                    <img class="apartmentinfopichis" alt="Apartment Picture" src="img/<%-data[x].image1 %>" />

                                                    <div class="apttextholderhis">
                                                        <p class="apartmenttexthis">
                                                            Address:
                                                            <%-data[x].city %> ,
                                                                <%-data[x].street %>
                                                                    <%-data[x].baranggay %>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Room type:
                                                            <%-data[x].type %>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Capacity:
                                                            <%-data[x].capacity %>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Restriction:
                                                            <%-data[x].restriction %>
                                                        </p>
                                                        <p class="apartmenttexthis">
                                                            Price: Php
                                                            <%-data[x].price %>/ month
                                                        </p>
                                                        <p class="apartmenttexttenant">
                                                            Details:
                                                            <%-data[x].description %>
                                                        </p>

                                                    </div>
                                                </div>
                                                <div class="aptstarandbutthis3">
                                                    <a href="/apartmentDetails/<%-data[x].appID %>"><button type="button" class="apartmentbuttonhis">
                                                        See more →
                                                        </button></a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                    </div>

                </div>

            </div>
            <%- include ('partials/footer.ejs') %>
        </div>
        </div>
        </div>
    </body>

    </html>